.homepage-main-container {
    height: 100%;
    display: flex;
}
.homepage-main-container .left-container{
    width: 49%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2rem;
    padding-top: 10%;
}

.homepage-main-container .right-container{
    background: black;
    background: black;
    position: relative;
    z-index: 0;
    width: 50%;
}

.homepage-main-container .left-header{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.left-description{
    width:70%;
}

.homepage-main-container .left-container .buttons-container{
    padding-top: 5rem;
    padding-left: 0;
    justify-content: space-between;
    width: 80%;
}

.homepage-main-container .left-container .buttons-container .button{
    font-size: 1.5rem;
    width: 17vw;
    color: white;
    background: linear-gradient(100.44deg,#f8b67f,#ff5451 33.57%,#ee1ec0 67.02%,#a02cfc 103.97%);
    border-radius: 5px;
}

.homepage-main-container .left-container .buttons-container .button.unstake_xplenty{
    background: #6202ef;
}

.homepage-main-container .right-container .background-image{
    position: absolute;
}