body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe{
  z-index: -1 !important;
}

#root{
  overflow: hidden;
}

.App{
  margin-top: 5rem;
  height: calc(100vh - 5rem);
}

canvas { width: 70% !important; height: 70% !important; display: block; }