.voting-container{
    margin-top: 3rem;
    background: #1e1e1e;
    height: calc(100vh - 3rem)
}

.aq{
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
}

.aq-container{
    color: white;
    display: inline-block;
    background: #ffffff50;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
}