.voting-container{
    margin-top: 5rem;
    background: #1e1e1e;
    height: calc(100vh - 5rem)
}

.aq{
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    top: 5rem;
    padding-top: 10px;
}

.aq-container{
    color: white;
    display: inline-block;
    background: #ffffff50;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
}

.container-header{
    color: white;
    padding-top: 1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: lighter;
}

.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    color: white;
    font-size: 3rem;
}